{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Use correct character set. -->
    <meta charset="utf-8"/>
    <!-- Tell IE to use the latest, best version. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <title>Hello World!</title>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'ajax.js' %}"></script>
    <script src="{% static 'Build/Cesium/Cesium.js' %}"></script>
    <style>
        @import url(../static/Build/Cesium/Widgets/widgets.css);

        html,
        body,
        #cesiumContainer {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div id="test"></div>
<div id="cesiumContainer"></div>
<script>

    function sleep(time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }

    Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4MzM5OTUxNi05NDM1LTRiZjktYTYzZS1jNjdkOGYzODY4MTQiLCJpZCI6MTAyNDg0LCJpYXQiOjE2NTg3NjI5Nzd9.LeY0XxRAw1keEGLweLto2-3HQLLCB3Ulmat8px_u5R8';
    const viewer = new Cesium.Viewer('cesiumContainer', {
        terrainProvider: Cesium.createWorldTerrain()
    });
    const osmBuildings = viewer.scene.primitives.add(Cesium.createOsmBuildings());
    const timeStepInSeconds = 1;
    const totalSeconds = 100;
    const start = Cesium.JulianDate.fromIso8601("2022-03-09T23:10:00Z");
    const stop = Cesium.JulianDate.addSeconds(start, totalSeconds, new Cesium.JulianDate());
    viewer.clock.startTime = start.clone();
    viewer.clock.stopTime = stop.clone();
    viewer.clock.currentTime = start.clone();
    viewer.timeline.zoomTo(start, stop);
    viewer.clock.multiplier = 1;
    viewer.clock.shouldAnimate = true;
    const num = 500; // vehicle number.

    viewer.camera.setView(
        {
            destination: Cesium.Cartesian3.fromDegrees(114.3159113, 30.54626248, 500),
            orientation: {
                heading: Cesium.Math.toRadians(0.0),
                pitch: Cesium.Math.toRadians(-90),
                roll: 0.0
            }
        });

    const positionPropertyBox = [];

    for (let i = 0; i < num; i++) {
        const positionProperty = new Cesium.SampledPositionProperty();
        positionPropertyBox[i] = positionProperty;
    }

    const airplaneEntity = [];

    async function loadModel(num) {
        const airplaneUri = await Cesium.IonResource.fromAssetId(1289411);
        airplaneEntity[num] = viewer.entities.add({
            availability: new Cesium.TimeIntervalCollection([new Cesium.TimeInterval({start: start, stop: stop})]),
            position: positionPropertyBox[num],
            model: {
                uri: airplaneUri,
                scale: 4
            },
            orientation: new Cesium.VelocityOrientationProperty(positionPropertyBox[num]),
            {#path: new Cesium.PathGraphics({width: 3})#}
        });
    }

    let tmp = -1;

    async function main() {
        for (let i = 0; i < totalSeconds; i++) {
            await sleep(200);
            for (let j = 0; j < num; j++) {
                let k = 0;
                let kk = 0;
                $.ajax({
                    type: 'GET',
                    url: "/ajax/get/",
                    data: {'a': i, 'b': j},
                    async: false,
                    success: function (ret) {
                        k = Number(ret);
                    }
                });
                $.ajax({
                    type: 'GET',
                    url: "/ajax/get2/",
                    data: {'a': i, 'b': j},
                    async: false,
                    success: function (ret) {
                        kk = Number(ret);
                    }
                });

                if (k === 0) {
                    break;
                }

                if (j > tmp) {
                    tmp = j;
                    loadModel(j);
                }


                const time = Cesium.JulianDate.addSeconds(start, i * timeStepInSeconds, new Cesium.JulianDate());
                const position = Cesium.Cartesian3.fromDegrees(k, kk, 40);
                positionPropertyBox[j].addSample(time, position);

                {#viewer.entities.add({#}
                {#    description: `Location: (${k}, ${kk}, ${40})`,#}
                {#    position: position,#}
                {#    point: {pixelSize: 10, color: Cesium.Color.RED}#}
                {# });#}
            }
        }
    }

    main();
</script>
</body>
</html>